*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background: $background-color;
	color: $text-color;
	font-size: $text-size;
	font-family: Arial, sans-serif;
	margin: 0;
	overflow: hidden;
}

header
{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 25px;
}

#info
{
	font-size: 18px;
	color: #555;
	text-align: center;
	margin-bottom: 25px;
}

a {
	color: #074E8C;
}

.scrollable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar
{
	width: 12px;
}

.scrollable::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.spinnerContainer {
	height: 32px;
	margin: auto 0;
}
.spinner {
	width: 100px;
	height: 32px;
	margin: auto 0;
	text-align: center;
}

.spinner img {
	width: 32px;
	height: 32px;
	animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
