<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- build:remove -->
    <!-- Connect to server process -->
    <script>require('electron-connect').client.create()</script>
    <!-- end:build -->

    <link rel="stylesheet" href="../build/css/style.css">

    <script src="../vendor/react/react.js"></script>
    <script src="../vendor/react/react-dom.js"></script>
  </head>
  <body>
    <div id="container"></div>
  </body>
  <script src="../build/js/movies.js" charset="utf-8"></script>
</html>
